/* Works on Firefox */
 .event-panel 
 {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome, Edge, and Safari */
  .event-panel::-webkit-scrollbar {
    width: 12px;
  }
  
  .event-panel::-webkit-scrollbar-track {
    background: orange;
  }
  
  .event-panel::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }