/* Works on Firefox */
.event-panel 
{
   scrollbar-width: thin;
   scrollbar-color: #281E5D;
 }
 
 /* Works on Chrome, Edge, and Safari */
 .event-panel::-webkit-scrollbar {
   width: 12px;
 }
 
 .event-panel::-webkit-scrollbar-track {
   background: white;
 }
 
 .event-panel:hover::-webkit-scrollbar-thumb {
   background-color: #281E5D;
   border-radius: 20px;
   
 }
 .myborder {
   border : 2px solid #0B3B6C;
 }
 .mybackgroundcolor{
   background-color: #0B3B6C;
 }